<%- include('partials/header') %>
<% blogs.forEach(function(blog){ %> 
    <form class="ui small form center" action="/blog/<%= blog.id %>?_method=PUT" method="POST">
        <div class=" four wide field">
            <input type="text" name="title" value="<%= blog.title %>">
        </div>
        <div class="six wide field ">
            <textarea name="content"></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    
<%})%>





<%- include('partials/footer') %>