<%- include ('partials/header') %>
<div class=" container">
    <div class="ui basic segment center aligned masthead ">
            <h1 class="ui header">Welcome</h1>
            <a href="/blog" class="ui blue button">Go to the main page</a> 
        </div>
</div>
<%- include ('partials/footer') %>


