<%- include ('partials/header') %>
    

  <div class="ui container">
    <div class="ui container center aligned very padded">
        <div class="ui basic segment">
            <h1 class="ui header">Search results</h1>
        </div>
    
        <div class="ui grid ">
            <% results.forEach(function(blog){ %>
                <div class="ui six wide centered column row ">
                        <h4><%= blog.title %></h4>
                        <a href="/blog/<%=blog.id %>" class="ui small basic button very padded">See full</a> 
                </div>
            <% }) %>

        </div>      
</div>




</div>
<%- include ('partials/footer') %>